services:
  app:
    build: .
    container_name: locationregisterapi-app
    ports:
      - "8080:8080"
    depends_on:
      - mongo
    environment:
      MONGODB_URI: "mongodb://mongo:27017/LocationRegisterDB"

  mongo:
    image: mongo:7
    container_name: locationregisterapi-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
